
desktop.ini
Release/Assets/apply.png
Release/Assets/button_7.png
Release/Assets/button_9.png
Release/Assets/export_button.png
Release/Assets/image_1.png
Release/Assets/image_2.png
Release/Assets/image_3.png
Release/Assets/image_4.png
Release/Assets/image_5.png
Release/Assets/import.png
Release/Assets/pause_button.png
Release/Assets/play_button.png
Release/Assets/revert_button.png
Release/Assets/short_entry.png
Release/Assets/stop_button.png
Release/Assets/volume_entry.png
Release/icon_music.ico
Release/main.exe
